<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mildmojo.notes.txt" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Notes.txt</name>
    <description>
        A simple file-based note-taking application.
    </description>
    <author email="mildmojo-notes@yahoo.com" href="http://mildmojo.com">
        mildmojo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,root" />
</widget>
