<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="import" href="components/note-list-page.html">
        <title>Notes.txt</title>
    </head>
    <body unresolved>
        <notes-app>
            <note-list-page></note-list-page>
            <note-editor-page></note-editor-page>
        </notes-app>

        <script type="text/javascript" src="js/platform/platform.js"></script>
        <script type="text/javascript" src="js/polymer/polymer.js"></script>
        <script type="text/javascript" src="js/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/velocity/jquery.velocity.min.js"></script>
        <script type="text/javascript" src="js/underscore/underscore.js"></script>

        <script type="text/javascript">
            (function(){
                var init = _.after(1, initialize);
                document.addEventListener('deviceready', init);
                window.addEventListener('polymer-ready', init);

                function initialize() {
                    var $noteListElement = $('note-list');
                    var notes = [
                        {body: 'Game ideas\nFruited Plane'},
                        {body: 'Ordinary\nSteam swirls from the grate'}
                    ];
                    notes = notes.map(function(note) {
                        var title = _(note.body.split(/\n/)).first();
                        var subtitle = _(note.body.split(/\n/)).rest(1).join('\n');
                        return {title: title, subtitle: subtitle};
                    });
                    console.dir(notes);
                    $noteListElement.attr('notes', JSON.stringify(notes));
                }
            })();
        </script>
        <script type="text/template" id="note-template">
            <div class="note">
                <h3><%= title %></h3>
                <p><%= subtitle %></p>
            </div>
        </script>
    </body>
</html>
